//- Controls "active" Bootstrap style for side tabs (and dropdown tabs on smaller screens)
script.
	document.getElementById(topname).classList.add("active");
	document.getElementById(sidename).classList.add("active");
