doctype html
html
  head
    title NVIO | #{title}
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    //- Bootstrap Styles
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    //- Font Awesome
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')
    //- Local Styles
    link(rel='stylesheet' href='/static/css/styles.css')
    //- Local Icons
    link(rel='icon' href='/static/logo/favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='/static/logo/favicon.ico' type='image/x-icon')
    block postHead
      //- This block is used for view specific stylesheet links for both CDNs and local files