doctype html
html
  head
    title NVIO | #{title}
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    //- Bootstrap Styles
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
    //- Material Dashboard Styles
      (https://demos.creative-tim.com/material-dashboard/docs/2.1/getting-started/introduction.html)
    link(rel='stylesheet' href='/static/css/styles.css')
    //- Local Styles
    link(href='/assets/css/material-dashboard.min.css?v=2.1.2', rel='stylesheet')
    //- Material Dashboard Icons
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    //- Local Icons
    link(rel='icon' href='/static/logo/favicon.ico' type='image/x-icon')
    link(rel='shortcut icon' href='/static/logo/favicon.ico' type='image/x-icon')