nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') NVIO
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='/')
          | Inicio 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/quienes-somos') Quienes somos
      li.nav-item
        a.nav-link(href='/contacto') Contacto
