extends ../includes/dashbar
append content
	script.
		var topname = "linkSoporte-top";
		var sidename = "linkSoporte-side";
	h1.landing-head.text-center
		| #{title}
	p.landing-paragraph.text-center
		| Próximamente...
