extends ../includes/dashbar
append content
	script.
		var topname = "linkEnvio-top";
		var sidename = "linkEnvio-side";
	h1.landing-head.text-center
		| #{title}
	.container
		form(action='/dashboard/nuevo-envio' method='POST' enctype='multipart/form-data' autocomplete='off')
			.form-group
				label Dirección Remitente
				input.form-control#fromAddress(type='text' name="fromAddress" value=companyAddress required autocomplete='off')
			.form-group
				label Apartado Remitente
				input.form-control#fromApart(type='text' name="fromApart" value=companyAddressApart)
			.form-group
				label Dirección Destinatario
				input.form-control#toAddress(type='text' name="toAddress" required autocomplete='off')
			.form-group
				label Apartado Destinatario
				input.form-control#toApart(type='text' name="toApart" placeholder='Número Depto, Condominio, Piso, etc.')
			.form-group
				label Nombre Destinatario
				input.form-control(type='text' name="nameDest" required)
			.form-group
				label Teléfono Destinatario
				.input-group
					.input-group-prepend
						.input-group-text +56
					input.form-control(type='text' name="contactDest" required)
			.form-group
				label Nombre de tu Pedido
				input.form-control(type='text' name="orderName" required)
				small Este nombre es para que puedas llevar registro por tu cuenta a la par con nuestro sistema
			.form-group
				label ¿Qué es lo que envías?
				input.form-control(type='text' name="orderDesc" required)
				small Describe aquí tu paquete, recuerda seguir nuestras 
					a(href='/recomendaciones' target='_blank') recomendaciones
			.form-group
				label Valor de lo que envías
				.input-group
					.input-group-prepend
						.input-group-text $
					input.form-control(type='number' name="orderValue" required)
				small Valor en pesos chilenos
			.form-group
				label Comentarios adicionales
				input.form-control(type='text' name="comment")
				small Puedes ingresar algún comentario en caso de necesitarlo
			.form-check
				input#tosAgree.form-check-input(type='checkbox' name="tos" value="true" required)
				label.form-check-label(for='tosAgree') Acepto los 
					a(href='/tos' target='_blank') términos y condiciones
			button.btn.btn-primary(type='submit' style='margin-top: 20px;') Enviar
			script(type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key='+process.env.GAPI+'&sessiontoken='+uuid+'&libraries=places&region=cl')
			script(type="text/javascript")
				| let sessionToken = new google.maps.places.AutocompleteSessionToken();
				|	var toInput = document.getElementById('toAddress');
				| var fromInput = document.getElementById('fromAddress');
				| var options = {componentRestrictions: {country: 'cl'}};
				| fromAutocomplete = new google.maps.places.Autocomplete(fromInput, options);
				| toAutocomplete = new google.maps.places.Autocomplete(toInput, options);
