extends ../includes/dashbar
append content
	script.
		var topname = "linkHistPedidos-top";
		var sidename = "linkHistPedidos-side";
	script.
		var copyText;
		var small;
		document.addEventListener('copy', function (e) {
			e.clipboardData.setData('text/plain', 'http://nvio.cl/track/' + copyText.value);
			e.preventDefault();
		});

		function copyAsLink() {
			copyText = document.getElementById('aId');
			document.execCommand('copy');
			console.log('Copied the text: ' + copyText.value);

			small = document.getElementById('bId');
			small.innerText = 'Copied!';
			setTimeout(clearSmall, 2000);
		}

		function clearSmall(){
			small.innerText = '';
		}
	h1.landing-head.text-center
		| #{title}
	button#aId.btn.btn-primary(onclick='copyAsLink()' value='AAAAAAAA') Copy Text
	small#bId
//-
	table.table.table-bordered.table-striped
		thead
			tr
				th(scope='col') #
				th(scope='col') One
				th(scope='col') Two
				th(scope='col') Three
		tbody
			tr
				th(scope='row') 1
				td Foo
				td Bar
				td Man
			tr
				th(scope='row') 2
				td Yin
				td Yang
				td Yo
			tr
				th(scope='row') 3
				td Poopity
				td Scoop
				td Scoopdiwoop