include includes/header.pug
body
  include includes/navbar.pug
  .container-fluid.text-center(style="margin: 400px 0;")
    h1.four-oh-four ERROR 404
  include includes/footer.pug
  include includes/bodyscript.pug
