include includes/header.pug
	//- include includes/navbar.pug
	//- This is a sample to copy whenever a new page is made, adjust to your needs, but most every page will need these
	include includes/footer.pug
	include includes/bodyscript.pug
