include includes/header.pug
body
  include includes/navbar.pug
  block content
    .container.landing-container
      .row
        .col
          h1.text-center.login-title
            | Iniciar sesión en NVIO
            .account-wall
              form.login-form.form-signin(action='/login' method='POST' enctype='multipart/form-data')
                input.form-control(type='text' name='email' placeholder='Email' required autofocus style='margin: 80px 0 0')
                input.form-control(type='password' name='password' placeholder='Password' required style='margin: 10px 0;')
                input.form-control(type='checkbox' name='remember_me' value='true')
                label(for='remember_me')  Recuérdame
                button.btn.btn-lg.btn-outline-primary.btn-block(type='submit') Ingresar
          //-
            a.text-center.new-account(href='/signup') Create an account
            #message
            if message
              h1.text-center.error-message #{message}
  include includes/footer.pug
  include includes/bodyscript.pug
