doctype html
html
  include includes/header.pug
  body
    include includes/navbar.pug
    .container-fluid
      .row.justify-content-md-center
        .col-12.text-center
          h1 Quienes Somos
        .col-md-8.col-sm-12
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            | nisi ut aliquip ex ea commodo consequat. 
            | Duis aute irure dolor in reprehenderit in voluptate velit esse 
            | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
            | cupidatat non proident, sunt in culpa qui officia deserunt mollit 
            | anim id est laborum.
        .col-12.text-center
          h1 El equipo
        .col-md-8.col-sm-12
          .row
            .col
              .card
                img.card-img-top(src="https://via.placeholder.com/150")
                .card-body
                  h5.card-title Maximiliano Quilodrán
                  h6.card-text Cargo
                  p.card-text Breve descripción
                  ul.list-unstyled
                    li
                      a(href="https://twitter.com/#")
                        i.fab.fa-twitter
                        .d-inline-block.ml-1 @arroba
                    li
                      a(href="mailto:eduardo@nvio.cl")
                        i.fas.fa-envelope
                        .d-inline-block.ml-1 maximiliano@nvio.cl
            .col
              .card
                img.card-img-top(src="https://via.placeholder.com/150")
                .card-body
                  h5.card-title Pía Moreau
                  h6.card-text Cargo
                  p.card-text Breve descripción
                  ul.list-unstyled
                    li
                      a(href="https://twitter.com/#")
                        i.fab.fa-twitter
                        .d-inline-block.ml-1 @arroba
                    li
                      a(href="mailto:eduardo@nvio.cl")
                        i.fas.fa-envelope
                        .d-inline-block.ml-1 pia@nvio.cl     
            .col
              .card
                img.card-img-top(src="https://via.placeholder.com/150")
                .card-body
                  h5.card-title Angelo Romano
                  h6.card-text Cargo
                  p.card-text Breve descripción
                  ul.list-unstyled
                    li
                      a(href="https://twitter.com/#")
                        i.fab.fa-twitter
                        .d-inline-block.ml-1 @arroba
                    li
                      a(href="mailto:angelo@nvio.cl")
                        i.fas.fa-envelope
                        .d-inline-block.ml-1 angelo@nvio.cl
            .col
              .card
                img.card-img-top(src="https://via.placeholder.com/150")
                .card-body
                  h5.card-title Gonzalo Vidal
                  h6.card-text Cargo
                  p.card-text Breve descripción
                  ul.list-unstyled
                    li
                      a(href="https://twitter.com/#")
                        i.fab.fa-twitter
                        .d-inline-block.ml-1 @arroba
                    li
                      a(href="mailto:gonzalo@nvio.cl")
                        i.fas.fa-envelope
                        .d-inline-block.ml-1 gonzalo@nvio.cl
            .col
              .card
                img.card-img-top(src="https://via.placeholder.com/150")
                .card-body
                  h5.card-title Eduardo Pérez
                  h6.card-text DevOps
                  p.card-text Breve descripción
                  ul.list-unstyled
                    li
                      a(href="https://twitter.com/eperezf")
                        i.fab.fa-twitter
                        .d-inline-block.ml-1 @eperezf
                    li
                      a(href="mailto:eduardo@nvio.cl")
                        i.fas.fa-envelope
                        .d-inline-block.ml-1 eduardo@nvio.cl
    include includes/footer.pug
