include includes/header.pug
body
  include includes/navbar.pug
  .container-fluid.landing-container
    .row.justify-content-md-center
      .col-12.text-center
        h1.landing-head Quienes Somos
      .col-md-8.col-sm-12
        p.landing-paragraph Somos un equipo apasionado y enamorado del problema de la última milla. Ofrecemos envíos programados de calidad con precios fijos y conocidos, donde todos los involucrados se sienten cómodos y satisfechos durante todo el proceso.
        p.landing-paragraph  
        p.landing-paragraph Nuestro compromiso es entregar un servicio de calidad para toda la cadena de reparto, desde que se crea un pedido hasta que llega a las manos del cliente final
      .col-12.text-center(style='padding-top: 80px; padding-bottom: 40px;')
        h1.landing-head El equipo
  .container
    .centered
      .row
        .card-columns.landing-card-columns.text-center(style='margin: auto;')
          .card
            img.card-img-top.img-fluid(src="/static/landing-page/team/max.jpg")
            .card-body
              h5.card-title Max Quilodrán
                //- Don't print his full name or it will mess with the card sizes, I spent 30 minutes trying to fix it
                  but it's not worth bothering with right now
                h6.card-text Operaciones
                ul.list-unstyled
                  li
                    a(href="https://twitter.com/maxquilodran")
                      i.fa.fa-twitter
                      .d-inline-block.ml-1 @MaxQuilodran
                  li
                    a(href="mailto:max@nvio.cl")
                      i.fa.fa-envelope
                      .d-inline-block.ml-1 max@nvio.cl
          .card
            img.card-img-top.img-fluid(src="/static/landing-page/team/pia.jpg")
            .card-body
              h5.card-title Pía Moreau
                h6.card-text Marketing y Ventas
                ul.list-unstyled
                  li
                    a(href="https://twitter.com/#")
                      i.fa.fa-twitter
                      .d-inline-block.ml-1 @arroba
                  li
                    a(href="mailto:pia@nvio.cl")
                      i.fa.fa-envelope
                      .d-inline-block.ml-1 pia@nvio.cl
          .card
            img.card-img-top.img-fluid(src="/static/landing-page/team/angelo.jpg")
            .card-body
              h5.card-title Angelo Romano
                h6.card-text Desarrollo
                ul.list-unstyled
                  li
                    a(href="https://twitter.com/AngeRomanoJara")
                      i.fa.fa-twitter
                      .d-inline-block.ml-1 @AngeRomanoJara
                  li
                    a(href="mailto:angelo@nvio.cl")
                      i.fa.fa-envelope
                      .d-inline-block.ml-1 angelo@nvio.cl
          .card
            img.card-img-top.img-fluid(src="/static/landing-page/team/eduardo.jpg")
            .card-body
              h5.card-title Eduardo Pérez
                h6.card-text Desarrollo
                ul.list-unstyled
                  li
                    a(href="https://twitter.com/eperezf")
                      i.fa.fa-twitter
                      .d-inline-block.ml-1 @eperezf
                  li
                    a(href="mailto:eduardo@nvio.cl")
                      i.fa.fa-envelope
                      .d-inline-block.ml-1 eduardo@nvio.cl
          .card
            img.card-img-top.img-fluid(src="/static/landing-page/team/gonzalo.jpg")
            .card-body
              h5.card-title Gonzalo Vidal
                h6.card-text Desarrollo
                ul.list-unstyled
                  li
                    a(href="https://twitter.com/#")
                      i.fa.fa-twitter
                      .d-inline-block.ml-1 @arroba
                  li
                    a(href="mailto:gonzalo@nvio.cl")
                      i.fa.fa-envelope
                      .d-inline-block.ml-1 gonzalo@nvio.cl
  include includes/footer.pug
  include includes/bodyscript.pug
